<h2>Log in</h2>
<div class="">
<form action="/login" method="post" id="login-form">
  <div class="form-group row">
    <label for="users_email" class="">Email:</label>
    <div class="">
      <input id="users_email" name="user[email]" type="text" class="form-control"/>
    </div>
  </div>
  <div class="">
    <label for="users_password" class="">Password</label>
    <div class="">
      <input id="users_password" name="user[password]" type="password" class="" required />
    </div>
  </div>
  <input type="submit" name="" value="Log in" class="">
</form>
</div>
