<nav>
  <div class="nav-wrapper black">
    <a href="#" class="brand-logo"> <img src="https://vignette1.wikia.nocookie.net/leagueoflegends/images/8/86/League_of_legends_logo_transparent.png/revision/latest?cb=20131023175853" alt=""> </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li class="black"><a href="/">Home</a></li>
      <li class="black"><a href="/users/show">Profile</a></li>
      <li class="black"><a href="/users/new">Sign up</a></li>
    </ul>
  </div>
</nav>
