<body style="background-image: url(http://na.leagueoflegends.com/sites/default/files/upload/art/akali_vs_baron_3.jpg)">
<div class="container row index-champs">
<ul>
<% @champions.each do |champion| %>
  <li class="col s2 white-text"><a href="/champions/<%=champion.id%>"><img src="http://ddragon.leagueoflegends.com/cdn/7.15.1/img/champion/<%= champion.name %>.png" alt="">
</a><%= champion.name %></li>
<% end %>
</ul>
</div>
</body>
